@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .works:before {
    transition: opacity 0.2s ease-in-out;
    background: url(/images/overlay.png);
    border-radius: 0.35em;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
